{% extends 'base.html' %}

{% block content %}
<div>
    <div class="container">
        <div class="row p-0 mt-5">
            <div class="col-lg-4 mx-auto p-0 border shadow">
                <div class="alert alert-info">
                    <h2>Add New Task</h2>
                </div>
                <div class=" p-4">
                    <form action="/addTask/" method="post">
                        {% csrf_token %}
                        {{form.as_p}}
                        <hr>
                        <input class="btn btn-info" type="submit" value="ADD">
                    </form>
                </div>
            </div>
            <div class="col">
                <div class="border">
                   {% if todos|length == 0 %}

                   <div class="alert alert-info text-center">
                       <p class="display-4">No Todos !!</p>
                   </div>

                   {%else%}
                   
                   <table class="table">
                    <thead>
                        <tr>
                            
                            <th>#</th>
                            <th>Title</th>
                            <th>Status</th>
                            <th>Priority</th>
                            <th>Actions</th>
                            <th></th>
                            
                        </tr>
                    </thead>

                    <tbody>
                        
                            {% for todo in todos %}
                            <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{todo.title}}</td>
                            <!-- <td>{{todo.status}}</td> -->
                            <td>
                                {%if todo.status == 'C' %}
                                <button class="btn">☑</button>
                                {%else%}
                                <button class="btn" title="Pending">🕗</button>
                                {%endif%}
                            </td>
                            <td>{{todo.priority}}</td>
                            <td>

                                <a href="/deleteTodo/{{todo.id}}" title="Delete" class="btn btn-danger">🗑</a>
                                {%if todo.status == 'P' %}
                                <a href="/change-status/{{todo.id}}/C" title="Completed" class="btn btn-success">☑</a>
                                {%else%}
                                <a href="/change-status/{{todo.id}}/P" title="Mark Pending" class="btn btn-warning">🕗</a></a>
                                {%endif%}
                            </td>

                        </tr>
                            {% endfor %}
                    </tbody>
                </table>

                   {%endif%}
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}