{% extends 'base.html' %}
  
{% block content %}
<div class="col-lg-5 shadow mx-auto p-4 border">
    <div class="alert alert-success">
        <h2>Create Account</h2>
    </div>
    <div class="p-4">
        <form action="/signup/" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{form.as_p}}
            <hr>

            <input class="btn btn-success" type="submit" value="Create Account">
        </form>
    </div>
</div>

{% endblock %}


    <!-- Signup Form  -->

  